h2{
    margin-left: 20px;
}
.record-numbers{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    justify-content: center;
}
.no-records-text{
    margin-left: 22px;
    color: gray;
}
.filter-container{
    border-bottom: 1px solid rgb(224, 223, 223);
    margin-left: 8px;
    margin-right: 8px;
    width: auto;
}
.aside-results-box{
    background: white;
    margin-top: -11%;
    width: 100%;
}
.download-all-button{
    font-size: 16px;
    border-radius: .25rem;
    color: indigo;
    font-weight: 500;
    background-color: #02eaee;
    border-color: #02eaee;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    border-radius: .25rem;
    float: right;
    margin-right: 20px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}