.header-box{
    display: flex;
    flex-wrap: nowrap;
    background-color:#D3D3D3;
}
.header-box > div{
    margin-top:10px;
    margin-left: 5px;
    font-weight: bold;
}
.company-dropdown{
    height: 30px;
    width: 150px;
    margin-top:5px;
    margin-left: 5px;
}